.header {
    background: #1DA1F2;
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_logo {
    width: 15em;
    height: auto;
    margin: 20px;
}

.header_title {
    color: #fff;
    margin: 20px;
    text-align: center;
}