.profil_container {
    width: 90%;
    margin: auto;
}

.profil_header {
    width: 100%;
    display: grid;
    grid-template-columns: 0.7fr 4fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    margin: 1em 0;
}

.profil_title {
    text-align: center;
    font-size: 2.5em;
    text-decoration: underline black;
}

.profil_closed {
    font-size: 2.5em;
    color: #1DA1F2;
    align-self: center;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .profil_container {
        width: 50%;
    }
}
