.profil_container {
    width: 95%;
    margin: 0 20px;
}

.profil_header {
    width: 100%;
    display: grid;
    grid-template-columns: 0.7fr 4fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.profil_title {
    text-align: center;
    margin-right: 1.75em;
    font-size: 3em;
    text-decoration: underline black;
}

.profil_closed {
    font-size: 3em;
    color: #1DA1F2;
    align-self: center;
    margin-left: 20px;
    cursor: pointer;
}
