.profil_header {
    width: 100%;
    display: grid;
    grid-template-columns: 0.7fr 4fr;
    grid-template-rows: 1fr;
}

.profil_title {
    text-align: center;
    margin-right: 1.75em;
    font-size: 3em;
    text-decoration: underline black;
}

.profil_closed {
    font-size: 3em;
    color: #1DA1F2;
    justify-self: start;
    align-self: center;
    margin-left: 20px;
    cursor: pointer;
}

.field_profil {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field_title {
    width: 50%;
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0;
}

.field_avatar {
    width: 25%;
    border: 2px solid grey;
    margin-bottom: 30px;
    padding: 5px;
}

.field_mail {
    margin-top: 1em;
    font-size: 1.5em;
}

